PORT=

##Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=

##JWT
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_RESET_EXPIRES_IN=

##SMTP
SMTP_USER=
SMTP_PASS=

#Super Admin
NAME=
EMAIL=
PASSWORD=